:root {
  --secondary: #278861;
  --secondary-dark:#005a37;
  --secondary-light:#5cb98e;

  --primary-dark: #8c7b75;
  --primary: #bcaaa4;
  --primary-light: #efdcd5;
}
html{
  scroll-behavior:smooth;
}
*{box-sizing: border-box;}
.cont1{
  /* border:red solid 2px; */
  position: relative;
  background-color:var(--primary);
  width:100%;
  height:100%;
}
.name{
  /* border: 2px red solid; */
  color:white;
}

.title{
    /* border: 2px red solid; */
  background-color: var(--secondary);
  text-align:center;

}
.quote{
   /* border: 2px red solid; */
  text-decoration-style: none;
  font-family: monospace;
  font-style: italic;
  font-family: freight-sans-pro,sans-serif;
    color: white;
    background-color: var(--primary);
}
.author{
color: white;

}
.icon{
  /* border: 2px red solid; */

animation: iconPop 5s  forwards;

  animation-iteration-count: 5;
  /* background-color:#8c7b75;
  border-radius: 30%; */
}
@keyframes iconPop{
  0%{opacity: 0; transform:scale(0.1);}
      25%{opacity:0.7; transform:scale(1.0);}
      50%{opacity: 1; transform:scale(1.5);}
      75%{opacity:0.7; transform:scale(0.7);}
      100%{opacity: 0; transform:scale(1.0);}
}
.cont2{
    /* border:solid red 2px; */
overflow:hidden;
position: relative;

}
.hero{
  width:100%;
  height: 100%;
}
.slideshow{
  /* border: 2px red solid; */
  /* width:100%;
  height:50px; */
}
.slide-wrapper{
  width: 300%;
  height:100%;
  margin-right: auto;
  margin-left: :auto;
  animation: slideshow 15s;
  animation-iteration-count: infinite;
}
.slide{

  position: responsive;
  height:100%;
  width:33.33%;
  text-align: center;
  color:white;
  float: left;
  text-decoration: none;
  background-color: var(--secondary);
}
@keyframes slideshow {
  0% {margin-left: 0px;}
   10% {margin-left: 0px;}
   20% {margin-left: -100%;}
   45% {margin-left: -100%;}
   50% {margin-left: -200%;}
   85% {margin-left: -200%;}
}
.slide2{
background-color: var(--primary-light);
color:black;
}
.slide3{
background-color: var(--secondary-light);
color:black;
}

.footer{
  /* border: 2px red solid; */
  position:fixed;
  text-align: center;
  background-color:  var(--secondary)  ;
  width:100%;
  position:relative;
}

.toTop{
 /* border:red 2px solid; */
    background-color: var(--secondary-light);
  color:var(--primary-light);
  border-radius: 50%;
  position:fixed;
    width: 80px;
    height: 80px;
    bottom:20px;
    right:40px;
    /* display:none; */
    /*padding: 10px;*/
  }
  .linkTop{
    text-decoration: none;
    color:var(--primary-light);
    text-align: center;
    padding: 10px;
    display:block;
  }
  .toTop:hover{
    box-shadow: 0px 0px 10px 3px black;
    background-color: var(--secondary-dark);
  }

  }

  /* products */

  .imgCont1 img {
    position:relative;
    width:100%;
    height: 100%;

  }


  .dealText {
    position: absolute;
  background-color: rgba(0,0,0,0.1);
  width:50%;
left:35%;
top:35%;
text-align: center;
box-shadow: 5px 5px 3px  var(--primary-dark);
border-radius:20px;
  }
.dealText h3{
      color:var(--secondary-dark);
      text-shadow: 10px 10px 5px var(--secondary-light) ;
  }

  .dealText li {
text-align: left;
  }


  /* modal window */
.open{
  background-color: var(--secondary-dark);
  color:var(--primary-light);
  text-decoration: none;

}

.open:hover{
  background-color: var(--primary-light);
  color:var(--secondary-dark) ;
  box-shadow: 0px 0px 5px 3px var(--secondary-dark) ;
}
.modalFront{
  background-color: var(--primary-light);
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.imgCont{
  position:relative;
  width: 40%;
  height: 50%;
  float:left;
  margin-top: 7%;
}
.imgCont img {

  position:relative;
  width:100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.modalBack{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left:0px;
  right:0px;
  background-color: rgb(50, 50, 50, 0.5);
  opacity: 0;
  pointer-events: none;
}
.modalBack:target{
  opacity:1;
  pointer-events: auto;
  transition: ease-in 1s;
}

.close{
  background-color: var(--primary-light);
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color:var(--secondary);
}
.close:hover{
  background-color:var(--secondary-light);
  color: var(--primary-light);
}

.info{
  /*border: solid yellow;*/
  width: 55%;
  height: 90%;
  float:left;
  margin-top: 7%;
}
.info h4{
  text-align: center;
}
.price{
  text-align: center;
  font-weight: bold;
}
button{
  margin-left:40px;
}
.addToCart{
  background-color:var(--secondary-light);
  color: var(--primary-light);

}
.addToCart:hover{
background-color: var(--primary);
  color:var(--secondary-dark);
}

















@media only screen and (max-width: 450px) {
.cont1{
  width:100%;
  height:100%;
}
.cont2{
  width: 100%;
  height:100%;
  overflow:hidden;
  position: relative;
}
.hero{
  width:100%;
  height:100%;
}
.name{
    font-size: 2.5em;
}
.title{
  height:100%;
}
  .titleSm {
   display: block;
  }
  .quote{
    margin-left: 20px;
    margin-right:20px;
    border-radius: 45%;
     padding: 16px;
  }
  .author{
text-align: right;
margin-right: 5px;
}
.icon{
  margin-top: 10px;
  width: 50px;
height: 50px;
margin-right: auto;
margin-left: auto;
}
.slide{
  padding:10px;
  height:50px;
}
.subcont{
  width: 100%;
  height:100%;
  position: relative;
  margin-top: 20px;
}
.imgCont1 {
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
  position: relative;
}
.imgCont1 img{
  width:100%;
  height:100%;
  padding:15px;
}
.footer{
  height:100%;
  padding: 7px;
}

.dealText h3, h2{
    font-size: 1em;
 }

 .open{
   position: absolute;
   bottom: 15%;
   left:55%;
   padding: 3px;
}
.modalFront{
background-color: var(--primary-light);
width:100%;
height: 100%;
position:relative;
margin-left: auto;
margin-right: auto;
margin-top: 5%;

}

.imgCont{
  position:relative;
  width: 35%;
  height:30%;
  float:left;
  margin-top: 7%;
}
.imgCont img {
  position:relative;
  width:100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
}
 /*  close media small */

@media only screen and (max-width: 900px) and (min-width:451px){
  .cont1{
    width:100%;
    height:100%;
  }
  .cont2{
    width: 100%;
    height:100%;
    overflow:hidden;
    position: relative;
  }
  .hero{
    width:100%;
    height:100%;
  }
  .name{
      font-size: 2.5em;
  }
  .title{
    height:100%;
  }
    .titleSm {
     display: block;
    }
    .quote{
      margin-left: 20px;
      margin-right:20px;
      border-radius: 45%;
       padding: 16px;
    }
    .author{
  text-align: right;
  margin-right: 5px;
  }
  .icon{
    margin-top: 30px;
    width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  }
  .slide{
    padding:10px;
    height:50px;
  }
  .subcont{
    width: 100%;
    height:100%;
    position: relative;
    margin-top: 20px;
  }
  .imgCont1 {
    display:block;
    overflow:hidden;
    width:100%;
    height:100%;
    position: relative;
  }
  .imgCont1 img{
    width:100%;
    height:100%;
    padding:8%;
  }
  .footer{
    height:100%;
    padding: 7px;
  }

  .dealText h3, h2{
      font-size: 1.5em;
   }

   .open{
     position: absolute;
     bottom: 15%;
     left:55%;
     padding: 3px;
  }
  .modalFront{
  background-color: var(--primary-light);
  width:100%;
  height: 100%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

  }

  .imgCont{
    position:relative;
    width: 35%;
    height:30%;
    float:left;
    margin-top: 7%;
  }
  .imgCont img {
    position:relative;
    width:100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }









}
/*  close media medium */













 @media only screen and (min-width: 900px) {
   .cont1{
     position: relative;
     background-color:var(--primary);
     width:100%;
     height:100%;
   }
   .title{
     background-color: var(--secondary);
     text-align:center;
     position:relative;
   }
   .icon{
     /* border: 2px red solid; */
     position:absolute;
     width: 100px;
   height: 100px;
   margin: 40px;
   left: 50px;
   animation: iconPop 5s  forwards;
   animation-iteration-count: 5;
     /* background-color:#8c7b75;
     border-radius: 30%; */
   }
   @keyframes iconPop{
     0%{opacity: 0; transform:scale(0.1);}
         25%{opacity:0.7; transform:scale(1.0);}
         50%{opacity: 1; transform:scale(1.5);}
         75%{opacity:0.7; transform:scale(0.7);}
         100%{opacity: 0; transform:scale(1.0);}
   }
   .cont2{
       /* border:solid red 2px; */
     width: 600px;
   height:450px;
   width: 800px;
   overflow:hidden;
   position: relative;
     margin:30px auto;
   }
   .hero{
     width:100%;
     height: 100%;
   }
   .slideshow{
     /* border: 2px red solid; */
     width:100%;
     height:50px;
   }
   .slide-wrapper{
     width: 300%;
     height:100%;
     margin-right: auto;
     margin-left: :auto;
     animation: slideshow 15s;
     animation-iteration-count: infinite;
   }
   .slide{
     /* border: 2px red solid; */
     position: responsive;
     height:100%;
     width:33.33%;
     text-align: center;
     padding:3px;
     font-size:2em;
     color:white;
     float: left;
     text-decoration: none;
     background-color: var(--secondary);
   }
   @keyframes slideshow {
     0% {margin-left: 0px;}
      10% {margin-left: 0px;}
      20% {margin-left: -100%;}
      45% {margin-left: -100%;}
      50% {margin-left: -200%;}
      85% {margin-left: -200%;}
   }
   .slide2{
   background-color: var(--primary-light);
   color:black;
   }
   .slide3{
   background-color: var(--secondary-light);
   color:black;
   }

   .footer{
     /* border: 2px red solid; */
     position:fixed;
     text-align: center;
     background-color:  var(--secondary)  ;
     height:100px;
     margin-top:20px;
     width:100%;
     bottom:2px;
     padding:20px;
     color: black;
     position:relative;
   }

   .topButton{
     /* border:red 2px solid; */
     background-color: var(--secondary-light);
     color:var(--primary-light);
     padding: 20px 2px;
     border-radius: 50%;
     margin-right: : 500px;
     position:absolute;
     bottom:20px;
     right:40px;
   }




     .title{
     padding:35px;
     width:100%;
     height:100%;
     display:inline-block;
     position:relative;

   }

     .name{
       /* border: 2px red solid; */
     font-family: futura-pt,Futura,Century Gothic,sans-serif;
   font-weight: 400;
       color:white;
       font-size: 4em;
       padding:5px;



     }
     .quote{
        /* border: 2px red solid; */
       position: absolute;
       bottom:5px;
       right:100px;
       text-decoration-style: none;
       font-family: monospace;
       font-style: italic;
       font-family: freight-sans-pro,sans-serif;
         color: white;
         background-color: var(--primary);
    box-shadow: 6px 5px 5px 0px  white;
    border-radius: 4px;
    padding:5px 5px;

     }
     .author{
       /* border: 2px red solid; */
       position: absolute;
       bottom:-18px;
       right:120px;
     color: white;
     }

     /* products */

     .imgCont1 {
       width:33%;
       height:100%;
       display:inline-block;
       position:relative;
     }
     .imgCont1 img {

       position:relative;
       width:100%;
       height: 100%;
       padding-left: 10px;
       padding-right: 10px;
     }


     .dealText {
       position: absolute;
     background-color: rgba(0,0,0,0.1);
     width:50%;
   left:35%;
   top:35%;
   text-align: center;
   box-shadow: 5px 5px 3px  var(--primary-dark);
   border-radius:20px;
     }
   .dealText h3{
       font-size: 2em;
         color:var(--secondary-dark);
         text-shadow: 10px 10px 5px var(--secondary-light) ;
     }

     .dealText li {
   text-align: left;
     }


     /* modal window */
   .open{
     background-color: var(--secondary-dark);
     color:var(--primary-light);
     padding: 10px 20px;
     text-decoration: none;
     position: absolute;
     bottom:59px;
     left:48%;
   }

   .open:hover{
     background-color: var(--primary-light);
     color:var(--secondary-dark) ;
     box-shadow: 0px 0px 5px 3px var(--secondary-dark) ;
   }
   .modalFront{

     background-color: var(--primary-light);
     width:600px;
     height: 400px;
     position:relative;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     position:relative;
   }

   .imgCont{

     position:relative;
     width: 40%;
     height: 50%;
     float:left;
     margin-top: 7%;
   }
   .imgCont img {

     position:relative;
     width:100%;
     height: 100%;
     padding-left: 10px;
     padding-right: 10px;
   }
   .modalBack{
     position: fixed;
     top: 0px;
     bottom: 0px;
     left:0px;
     right:0px;
     background-color: rgb(50, 50, 50, 0.5);
     opacity: 0;
     pointer-events: none;
   }
   .modalBack:target{
     opacity:1;
     pointer-events: auto;
     transition: ease-in 1s;
   }

   .modalBack{
     position: fixed;
     top: 0px;
     bottom: 0px;
     left:0px;
     right:0px;
     background-color: rgb(50, 50, 50, 0.5);
     opacity: 0;
     pointer-events: none;
   }
   .close{
     background-color: var(--primary-light);
     padding: 10px;
     position: absolute;
     top: 0px;
     right: 0px;
     text-decoration: none;
     color:var(--secondary);
   }
   .close:hover{
     background-color:var(--secondary-light);
     color: var(--primary-light);
   }

   .info{
     /*border: solid yellow;*/
     width: 55%;
     height: 90%;
     float:left;
     margin-top: 7%;
   }
   .info h4{
     text-align: center;
   }
   .price{
     text-align: center;
     font-weight: bold;
   }
   button{
     margin-left:40px;
   }
   .addToCart{
     background-color:var(--secondary-light);
     color: var(--primary-light);

   }
   .addToCart:hover{
   background-color: var(--primary);
     color:var(--secondary-dark);
   }
   .subcont{
     /* border:red solid 2px; */
     width: 1500px;
     height: 700px;
     margin-left: auto;
     margin-right: auto;
     position:relative;
     padding: 30px;
     margin-top: 20px;
     margin-bottom: 102px;

   }

 }
